@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'inter';
  }
  div::-webkit-scrollbar {
    width: 10px;
    
}


div::-webkit-scrollbar-thumb { 
    -webkit-box-shadow: inset 0 0 6px #5570F1; 
    background-color: #5570F1;
}
}
@layer utilities {
  .sideBarLink {
    @apply transition-all duration-300 delay-200 ease-linear  w-2/3 cursor-pointer font-inter text-center text-white text-sm rounded-xl  hover:text-white py-4 px-5 flex gap-x-[10px];
  }
  .sideBarLink img {
    @apply w-6 h-6;
  }
  .sideBarLink div {
    @apply bg-customYellow2 rounded-full p-1 px-2 text-xs text-center text-customBlack2 font-inter pt-1;
  }
  .marketingCircle {
    @apply  h-2 w-2 rounded-md inline-block mr-2;
  }
  .marketingText {
    @apply font-inter text-[11px] text-customGray3 inline;
  }
}